@layer base, utils, components;

@import '@webtui/css/base.css';
@import '@webtui/css/utils/box.css';
@import '@webtui/css/components/typography.css';
@import '@webtui/css/components/progress.css';
@import '@webtui/css/components/input.css';
@import '@webtui/css/components/pre.css';

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  background: #0a0e14;
  color: #b3b1ad;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
}

#__nuxt {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

* {
  box-sizing: border-box;
}
